*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #030342;
    color: black;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 130vh;
}
form{
    font-family: Arial, Helvetica, sans-serif;
}

#buttons{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.custum-file-upload {
height: 150px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed grey;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon img {
  height: 8vh;
}

.custum-file-upload .text {
  text-align: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

